/* The button to toggle the isochrones control between collapsed and non-collapsed states */
.isochronesControlToggle
{
    font: bold 18px 'Lucida Console', Monaco, monospace;    /* to match the default Leaflet styling for the zoom control */
}

.leaflet-touch .isochronesControlToggle
{
    font-size: 22px;
}


/* The container for the isochrones control user interface */
.isochronesSettingsContainer
{
    background: #fff;
    padding: 6px;
}


/* Specific class for the collapse button when the control is in a toggleable state */
.collapseIsochronesSettingsControl
{
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    margin-bottom: 10px;
}


/* General class for styling the 'button' controls in the user interface container */
.isochronesSettingsControl
{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.isochronesSettingsControl:last-child
{
    margin-right: 0px;
}

.isochronesSettingsControl, .collapseIsochronesSettingsControl
{
    text-align: center;
    border: 2px solid #757575;
    cursor: pointer;
    color: #757575;
}

.isochronesSettingsControl:hover, .collapseIsochronesSettingsControl:hover
{
    background-color: #f4f4f4;
}


/* General class for highlighting the selected 'button' controls in the user interface container and the collapsed control if either the draw or delete mode is active */
.isochrones-control-active, .leaflet-touch .isochrones-control-active, .isochrones-control-active a, .leaflet-touch .isochrones-control-active a
{
    border-color: #fc6721;
    color: #fc6721;
    box-shadow: 0 1px 5px rgba(252,103,33,0.65);
}


/* When the control is used in its collapsed state, this class is used to hide the toggle control or the settings container depending on the collapsed/expanded state of the control */
.hideContent
{
    display: none;
}

/* If something has gone wrong or the user tries to perform an action that isn't allowed e.g. trying to delete when there are no isochrones */
.error, .leaflet-touch .error
{
    border-color: red;
    color: red;
    box-shadow: 0 1px 5px rgba(255,0,0,0.65);
}
