/* The button to toggle the isochrones control between collapsed and non-collapsed states */
.isochrones-control-toggle
{
    font-size: 18px;
    font-weight: bold;
}

.leaflet-touch .isochrones-control-toggle
{
    font-size: 22px;
}

/* The container for the isochrones control user interface */
.isochrones-control-settings-container
{
    background: #fff;
    padding: 6px;
}


/* Specific class for the collapse button when the control is in a toggleable state */
.isochrones-control-collapse-button
{
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    margin-bottom: 10px;
}


/* General class for styling the 'button' controls in the user interface container */
.isochrones-control-settings-button
{
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    margin-right: 10px;
}

.isochrones-control-settings-button:last-child
{
    margin-right: 0px;
}

.isochrones-control-settings-button, .isochrones-control-collapse-button
{
    text-align: center;
    border: 2px solid #757575;
    cursor: pointer;
    color: #757575;
}

.isochrones-control-settings-button:hover, .isochrones-control-collapse-button:hover
{
    background-color: #f4f4f4;
}

/* Dividers between the different UI sections */
.isochrones-control-settings-block-container
{
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #757575;
}

/* General class for highlighting the selected 'button' controls in the user interface container and the collapsed control if either the draw or delete mode is active */
.isochrones-control-active, .leaflet-touch .isochrones-control-active, .isochrones-control-active a, .leaflet-touch .isochrones-control-active a
{
    border-color: #0073d4;
    color: #0073d4;
    box-shadow: 0 1px 5px rgba(0,115,212,0.65);
}


/* When the control is used in its collapsed state, this class is used to hide the toggle control or the settings container depending on the collapsed/expanded state of the control */
.isochrones-control-hide
{
    display: none;
}

/* If something has gone wrong or the user tries to perform an action that isn't allowed e.g. trying to delete when there are no isochrones */
.isochrones-control-error, .leaflet-touch .isochrones-control-error
{
    border-color: red;
    color: red;
    box-shadow: 0 1px 5px rgba(255,0,0,0.65);
}


/* Range slider control and related items */
.isochrones-control-slider
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #999;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.isochrones-control-slider-title
{
    font-weight: bold;
}

/* the container for the maximum slider value. The minumum value has a class called isochrones-control-slider-min */
.isochrones-control-slider-max
{
    display: inline-block;
    float: right;
}
