/*
    Created:        2018/01/11 by James Austin - Trafford Data Lab
    Purpose:        For styling Leaflet maps created using the LabLeafletMap object
    Dependencies:   leaflet.css (external), labBase.css (internal)
    Licence:        http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/
*/

/* ### Overridden styles from leaflet.css ### */
.leaflet-container
{
    background: #fff;   /* ensure white background when no tiles are displayed for screenshot/printer */
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}

.leaflet-container a
{
    color: #fc6721;    /* all links to be orange as per Lab style */
}

.leaflet-bar a, .leaflet-control-layers, .leaflet-control-attribution, .labMapControls
{
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}

/* The following styles are for the text/icons within leaflet bar controls e.g. zoom, reset etc. */
.leaflet-bar a
{
    color: #757575;
}

.leaflet-bar a:hover
{
    color: #fc6721;
}

.leaflet-bar a.leaflet-disabled
{
    background-color: rgba(200, 200, 200, 0.8);
}

.leaflet-bar a.leaflet-disabled:hover
{
    color: #bbb;
}

/* The following styles are to ensure the sizes of all 'button' controls are consistent across all browsers (including touch-capable) */
.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-control-layers-toggle,
.leaflet-touch .leaflet-bar a,
.leaflet-touch .leaflet-control-layers-toggle
{
    width: 40px;
    height: 40px;
    line-height: 40px;
}


/* ### Specific common styles for Trafford Data Lab Leaflet maps ### */
.mapFullScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* common styling features for custom Leaflet controls such as our logo, the info panel etc. */
.labMapControls
{
    /* background styles set in the leaflet.css override section as common with other Leaflet controls */
    margin: 0;
    padding: 4px;
    border: 1px solid rgba(255,255,255,0);  /* transparent border to allow a highlight-on-hover effect if required */
    border-radius: 3px;
}

.resetMapControl
{
    font-size: 18px;
}

.mainPanelControl
{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}

.mainPanelControl:hover, .legendControl:hover
{
    background: rgba(255, 255, 255, 0.9);
}

.titleContainer
{
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 22px;
    font-weight: bold;
}

.aboutToggle
{
    color: #ccc;
    float: right;
}

.aboutToggle:hover
{
    cursor: pointer;
}

.aboutToggleHiddenState
{
    color: #fc6721;
}

.infoDockContainer
{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dotted #ccc;
    overflow: auto;
}

.infoContainer
{
    font-size: 14px;
}

.legendKey
{
    /* this is the generic class for graphical representations of something on the map, e.g. a line, an icon etc. */
    width: 20px;
    float: left;
    margin-right: 10px;
}

.legendKeyLine
{
    /* for representing lines within the legend key, e.g. polygon boundaries */
    margin-top: 7px;
}

.legendKeyIcon
{
    /* for representing markers or the icons within markers - to be defined */
}

/* For creating labels for place name etc. using L.ToolTip, overriding and adding to the default Leaflet styles */
.labLabels
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 10px #757575,
                 1px -1px 10px #757575,
                 1px 1px 10px #757575,
                 -1px 1px 10px #757575;
}
